---
// VideoCard.astro

const { name, videoID, tags, japaneseName, allowed, onlyGi } = Astro.props;
---

<div class="card" style={`background-color: #36454f`}>
  {allowed === false && <span class="foul">🚫</span>}
  {onlyGi === true && <span class="onlyGi">🥋</span>}

  <span><br /></span>
  <p>
    <b style="font-size: 2rem">{name}</b>
    {
      japaneseName != null ? (
        <span style="font-size:1rem">
          <i>&nbsp;{japaneseName}</i> 🎌{" "}
        </span>
      ) : (
        <span />
      )
    }
  </p>

  <div class="tags">
    {
      tags.map((tag) => (
        <a href={`/tags/${tag}`} class="tag">
          {tag}
        </a>
      ))
    }
  </div>

  <p></p>
  <div style="display: flex; width: 100%; justify-content: center;">
    <iframe
      src={`https://youtube.com/embed/${videoID}`}
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;"
      allowfullscreen
      loading="lazy"
      title={name}></iframe>
  </div>
</div>

<style>
  .card {
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    color: white;
    border: solid 0.5px white;
    position: relative;
  }
  .tags {
    margin: 8px 0;
  }
  .tag {
    background-color: gray;
    padding: 5px;
    border-radius: 8px;
    margin-right: 8px;
    text-decoration: none;
    border: solid 0.5px white;
  }

  iframe {
    width: 400px;
    height: 225px;
    border-radius: 11px;
  }
  a {
    color: white;
  }

  #japaneseName {
    color: rgb(255, 255, 255);
    font-size: 1rem;
  }

  .onlyGi {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 2rem;
  }

  .foul {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 2rem;
  }
</style>
